<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PROBLEM SET 5</title>

  <script src="{{ url_for('static', filename="vendor/jquery/jquery.min.js")}}"></script>
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="{{ url_for('static', filename="vendor/bootstrap/js/bootstrap.bundle.min.js")}}"></script>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename="vendor/bootstrap/css/bootstrap.min.css")}}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename="css/business-casual.min.css")}}" rel="stylesheet">
</head>

<body>
     <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">Flask/login</span>
      <span class="site-heading-lower">PROBLEM SET 5</span>
       {% if current_user.is_authenticated %}
              <p>You're already login.</p>
              {% else %}
              <p>{{message}}</p>
             {% endif %}
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">PROBLEM SET 5</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="index.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="templates/about.html">Chart</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="templates/products.html">Map</a>
            </li>

         <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
          </ul>
        </div>
      </div>
    </nav>


<div class="container">
 {% if not current_user.is_authenticated %}
 <center><form class="form-signin" style="width:30%;" method="post" action="/process">
     <label for="inputEmail" class="sr-only">User name</label>
     <input type="text" name="username" id="username" class="form-control" placeholder="User name" required autofocus>
     <label for="inputPassword" class="sr-only">Password</label>
     <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
     <div class="checkbox" >
      <lable>
         <input type="checkbox" value="remember-me" > Remember me
     </lable>
     </div>
     <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form></center>
 {% endif %}
</div>

</body>
</html>